diff -uNr WicketSuite.orig/WicketFileTemplates/nbproject/build-impl.xml WicketSuite/WicketFileTemplates/nbproject/build-impl.xml
--- WicketSuite.orig/WicketFileTemplates/nbproject/build-impl.xml	2013-02-16 19:06:21.200135797 +0900
+++ WicketSuite/WicketFileTemplates/nbproject/build-impl.xml	2013-02-16 19:43:49.622047225 +0900
@@ -4,6 +4,13 @@
 ***         EDIT ../build.xml INSTEAD         ***
 -->
 <project name="org.netbeans.modules.wicket.templates-impl" basedir="..">
+    <fail message="Please build using Ant 1.7.1 or higher.">
+        <condition>
+            <not>
+                <antversion atleast="1.7.1"/>
+            </not>
+        </condition>
+    </fail>
     <property file="nbproject/private/suite-private.properties"/>
     <property file="nbproject/suite.properties"/>
     <fail unless="suite.dir">You must set 'suite.dir' to point to your containing module suite</fail>
@@ -16,13 +23,21 @@
             <property name="@{name}" value="${@{value}}"/>
         </sequential>
     </macrodef>
+    <macrodef name="evalprops" uri="http://www.netbeans.org/ns/nb-module-project/2">
+        <attribute name="property"/>
+        <attribute name="value"/>
+        <sequential>
+            <property name="@{property}" value="@{value}"/>
+        </sequential>
+    </macrodef>
     <property file="${user.properties.file}"/>
     <nbmproject2:property name="harness.dir" value="nbplatform.${nbplatform.active}.harness.dir" xmlns:nbmproject2="http://www.netbeans.org/ns/nb-module-project/2"/>
-    <nbmproject2:property name="netbeans.dest.dir" value="nbplatform.${nbplatform.active}.netbeans.dest.dir" xmlns:nbmproject2="http://www.netbeans.org/ns/nb-module-project/2"/>
-    <fail message="You must define 'nbplatform.${nbplatform.active}.harness.dir'">
+    <nbmproject2:property name="nbplatform.active.dir" value="nbplatform.${nbplatform.active}.netbeans.dest.dir" xmlns:nbmproject2="http://www.netbeans.org/ns/nb-module-project/2"/>
+    <nbmproject2:evalprops property="cluster.path.evaluated" value="${cluster.path}" xmlns:nbmproject2="http://www.netbeans.org/ns/nb-module-project/2"/>
+    <fail message="Path to 'platform' cluster missing in $${cluster.path} property or using corrupt Netbeans Platform (missing harness).">
         <condition>
             <not>
-                <available file="${harness.dir}" type="dir"/>
+                <contains string="${cluster.path.evaluated}" substring="platform"/>
             </not>
         </condition>
     </fail>
diff -uNr WicketSuite.orig/WicketFileTemplates/nbproject/genfiles.properties WicketSuite/WicketFileTemplates/nbproject/genfiles.properties
--- WicketSuite.orig/WicketFileTemplates/nbproject/genfiles.properties	2013-02-16 19:06:21.211135796 +0900
+++ WicketSuite/WicketFileTemplates/nbproject/genfiles.properties	2013-02-16 19:43:49.622047225 +0900
@@ -4,5 +4,5 @@
 # This file is used by a NetBeans-based IDE to track changes in generated files such as build-impl.xml.
 # Do not edit this file. You may delete it but then the IDE will never regenerate such files for you.
 nbproject/build-impl.xml.data.CRC32=f5714118
-nbproject/build-impl.xml.script.CRC32=6cce3617
-nbproject/build-impl.xml.stylesheet.CRC32=68e521fc@2.47.1
+nbproject/build-impl.xml.script.CRC32=6ab6c0eb
+nbproject/build-impl.xml.stylesheet.CRC32=238281d1@2.50.1
